
.vs/ACI-SOLUTIONS/v15/.suo
.vs/ACI-SOLUTIONS/v15/Server/sqlite3/db.lock
.vs/ACI-SOLUTIONS/v15/Server/sqlite3/storage.ide
.vs/ACI-SOLUTIONS/v15/Server/sqlite3/storage.ide-shm
.vs/ACI-SOLUTIONS/v15/Server/sqlite3/storage.ide-wal
